#container{
	width: 20%;
	margin-left: 40%;
}

#test {
	width: 100%;
	align-items: center;
}

#form-segment {
	padding-bottom: 22px;
}

#username, #email, #password {
	margin-top: 9px;
	text-align: center;
}